$options: (
    light: (
        'primary': [ '#69789e',
        '#76879',
        '#9ec6e9',
        '#f3f1e9',
        '#f3f1e9'],
        'secondary': [ '#69789e',
        '#76879',
        '#9ec6e9',
        '#f3f1e9',
        '#f3f1e9'],
    ),
    dark: (
        'primary': [ '#69789e',
        '#76879',
        '#9ec6e9',
        '#f3f1e9',
        '#f3f1e9'],
        'secondary': [ '#69789e',
        '#76879',
        '#9ec6e9',
        '#f3f1e9',
        '#f3f1e9'],
    ),
);
/*
    Unused for now, but, the lib uses the below nuances in this order
    TODO: Allow passing of dynamic nuances
*/
$nuances: (dark, base, light, trans);
$setters: (x, y);
$getters: (
    c: 'color',
    b: 'background',
);
