$properties: (
    display: (
        flex,
        inline-flex,
    ),
    flex-direction: (
        row,
        row-reverse,
        column,
        column-reverse,
    ),
    flex-wrap: (
        nowrap,
        wrap,
        wrap-reverse,
    ),
    justify-content: (
        flex-start,
        flex-end,
        center,
        space-between,
        space-around,
        space-evenly,
        start,
        end,
        left,
        right,
    ),
    align-items: (
        stretch,
        flex-start,
        flex-end,
        center,
        baseline,
        first baseline,
        last baseline,
        start,
        end,
        self-start,
        self-end,
    ),
    align-content: (
        flex-start,
        flex-end,
        center,
        space-between,
        space-around,
        space-evenly,
        stretch,
        start,
        end,
        baseline,
        first baseline,
        last baseline,
    ),
    align-self: (
        auto,
        flex-start,
        flex-end,
        center,
        baseline,
        stretch,
    ),
);
$classnames-map: (
    display: d,
    flex-direction: sd,
    flex-wrap: '',
    justify-content: jc,
    align-items: ai,
    align-content: ac,
    align-self: as,
);
