$overflow-options: (scroll, visible, clip, hidden, auto);
$overscroll-behavior-options: (auto, contain, none);
$properties: (
    display: (
        block,
        inline,
        inline-block,
    ),
    isolation: (
        auto,
        isolate,
    ),
    object-fit: (
        contain,
        cover,
        fill,
        none,
        scale-down,
    ),
    visibility: (
        visible,
        hidden,
        collapse,
    ),
    position: (
        absolute,
        relative,
        fixed,
        sticky,
        static,
    ),
    overflow: $overflow-options,
    overflow-x: $overflow-options,
    overflow-y: $overflow-options,
    overflow-wrap: (
        normal,
        anywhere,
        break-word,
    ),
    overscroll-behavior: $overscroll-behavior-options,
    overscroll-behavior-x: $overscroll-behavior-options,
    overscroll-behavior-y: $overscroll-behavior-options,
    z-index: (
        0,
        1,
        2,
        3,
        4,
        5,
    ),
);
$classnames-map: (
    display: d,
    isolation: iso,
    object-fit: obj-f,
    visibility: vis,
    position: pos,
    overflow: ovrf,
    overflow-x: ovrf-x,
    overflow-y: ovrf-y,
    overflow-wrap: ovrf-wrap,
    overscroll-behavior: ovrsc-b,
    overscroll-behavior-x: ovrsc-b-x,
    overscroll-behavior-y: ovrsc-b-y,
    z-index: z-index,
);
