$setters: (a, b, u, v);
$getters: (
    p: 'padding',
    pb: 'padding-bottom',
    pt: 'padding-top',
    pl: 'padding-left',
    pr: 'padding-right',
    pil: 'padding-inline',
    pbl: 'padding-block',
    m: 'margin',
    mb: 'margin-bottom',
    mt: 'margin-top',
    ml: 'margin-left',
    mr: 'margin-right',
    mil: 'margin-inline',
    mbl: 'margin-block',
    gp: 'gap',
    rg: 'row-gap',
    cg: 'column-gap',
);
$determinants: (
    start: 0.25,
    end: 10,
    scale: 0.25,
);
