/*
    Media query definition
*/

@mixin media-query($breakpoint) {
    @media (min-width: $breakpoint) {
        @content;
    }
}

/*
    type: loop - generates all the media queries depending on the screnn sizes
    type: single - generates a single media query depending on the passed width
*/

@mixin generate-media-queries(
    $breakpoints,
    $type: single,
    $default-breakpoint: xs
) {
    @if $type == loop {
        @each $key, $value in $breakpoints {
            @include media-query($breakpoints, $key);
        }
    } @else {
        @include media-query($breakpoints, $default-breakpoint);
    }
}
