@use 'sass:map';

@use '../defaults';

/*
    Media query definition
*/

@mixin media-query($breakpoint) {
    @media (min-width: $breakpoint) {
        @content;
    }
}

@mixin mq-min-width(
    $default-breakpoint: xs,
    $breakpoints: defaults.$breakpoints
) {
    @include media-query(map.get($breakpoints, $default-breakpoint));
}

@mixin mq-max-width(
    $default-breakpoint: xs,
    $breakpoints: defaults.$breakpoints
) {
    @media (max-width: map.get($breakpoints, $default-breakpoint)) {
        @content;
    }
}

@mixin mq-range(
    $minbreakpoint,
    $maxbreakpoint,
    $breakpoints: defaults.$breakpoints
) {
    @media (map.get($breakpoints, $minbreakpoint) <= width <= map.get($breakpoints, $maxbreakpoint)) {
        @content;
    }
}
