$static: (
    text-align: (
        class: text-align,
        values: (
            start end left right center justify justify-all match-parent,
        ),
    ),
    text-transform: (
        class: text-transform,
        values: (
            none capitalize uppercase lowercase full-width full-size-kana,
        ),
    ),
    vertical-align: (
        class: vertical-align,
        values: (
            baseline sub super text-top text-bottom middle top bottom,
        ),
    ),
    white-space: (
        class: white-space,
        values: (
            normal nowrap pre pre-wrap pre-lines break-spaces,
        ),
    ),
);
$static-sizing: (
    fs: 'font-size',
    ls: 'letter-spacing',
    ws: 'word-spacing',
    lh: 'line-height',
);
